<div class="container__big-card">

    <div class="big-card__photo">
        <img 
            src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRZOlOlghH7T1Im4_LQ4kkqUWY0mBCDqKxqh2i51TZO4KmKFaCONvMl1NNQ5PBSBbSrX1c&usqp=CAU" 
            alt=""
        >
    </div>

    <div class="big-card__title">
        <h1>Bolsa de Valores tem a segunda alta na semana</h1>
    </div>

    <div class="big-card__description">
        <p>Eu nunca mais boto a boca num copo de cachaça, agora eu só uso canudis!
            Quem num gosta di mé, boa gentis num é.
            Suco de cevadiss, é um leite divinis, qui tem lupuliz, matis, aguis e fermentis.
        </p>
    </div>
</div>
